@import url(
  'https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Space+Grotesk:wght@400;500;600;700&display=swap'
);


:root {
  font-family: "Space Grotesk", sans-serif;

  color: #111;
  background: #f4f3ee;

  font-synthesis: none;
}


* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
}


/* APP */

.app {
  min-height: 100vh;
}


/* NAVBAR */

.navbar {
  height: 72px;

  padding: 0 8%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #d9d8d1;
}


.logo {
  font-family: "DM Mono", monospace;

  font-size: 15px;

  letter-spacing: -0.5px;
}


.logo span {
  opacity: 0.4;
}


.navbar a {
  color: #111;

  text-decoration: none;

  font-family: "DM Mono", monospace;

  font-size: 13px;
}


/* HERO */

.hero {
  min-height: 82vh;

  padding: 100px 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-bottom: 1px solid #d9d8d1;
}


.eyebrow,
.sectionNumber {
  font-family: "DM Mono", monospace;

  font-size: 11px;

  letter-spacing: 1.5px;

  color: #777;
}


.eyebrow {
  margin-bottom: 25px;
}


.hero h1 {
  max-width: 1000px;

  margin: 0;

  font-size: clamp(
    48px,
    7vw,
    92px
  );

  line-height: 0.98;

  letter-spacing: -5px;
}


.hero h1 span {
  color: #777;
}


.hero p {
  max-width: 600px;

  margin-top: 35px;

  color: #666;

  font-size: 19px;

  line-height: 1.6;
}


.startButton {
  width: fit-content;

  margin-top: 30px;

  padding: 16px 24px;

  background: #111;

  color: white;

  text-decoration: none;

  font-family: "DM Mono", monospace;

  font-size: 13px;

  transition: transform 0.2s;
}


.startButton:hover {
  transform: translateY(-3px);
}


/* INTRO */

.intro {
  padding: 130px 10%;
}


.intro h2 {
  max-width: 850px;

  margin-top: 40px;

  font-size: clamp(
    40px,
    5vw,
    70px
  );

  line-height: 1;

  letter-spacing: -3px;
}


/* LAB PLACEHOLDER */

.labPlaceholder {
  padding: 130px 10%;

  background: #111;

  color: white;
}


.labPlaceholder .sectionNumber {
  color: #888;
}


.labPlaceholder h2 {
  font-size: 60px;

  letter-spacing: -3px;
}


.labPlaceholder p {
  color: #888;
}


/* FOOTER */

footer {
  padding: 50px 10%;

  display: flex;

  justify-content: space-between;

  border-top: 1px solid #d9d8d1;
}


footer p {
  margin: 0;

  color: #888;

  font-family: "DM Mono", monospace;

  font-size: 12px;
}


/* MOBILE */

@media (max-width: 700px) {

  .navbar {
    padding: 0 6%;
  }


  .hero,
  .intro,
  .labPlaceholder {
    padding-left: 7%;
    padding-right: 7%;
  }


  .hero h1 {
    letter-spacing: -3px;
  }


  footer {
    padding: 40px 7%;

    flex-direction: column;

    gap: 20px;
  }

}